{% extends "layout.html" %}

{% block title %}
Головна
{% endblock %}
    

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Головна</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/news">Новини</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Контакти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="text-center mt-4">
    <h1>Ласкаво просимо!</h1>
    <p class="lead">Досліджуйте наші послуги та насолоджуйтесь незабутнім досвідом.</p>
    <a href="/news" class="btn btn-primary btn-lg">Переглянути новини</a>
</div> 

{% endblock %}