{% extends "layout.html" %}
 
{% block title %}
  Реєстрація
{%endblock%}


 
{% block content %}

<div class="container mt-5 col-md-6">
  <h1 class="text-center mb-4">Sing Up</h1>
  <form class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="username" class="form-label">Ім'я користувача</label>
      <input type="text" class="form-control" id="username" required>
      <div class="invalid-feedback">
        Введіть ім'я користувача.
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Електронна пошта</label>
      <input type="email" class="form-control" id="email" required>
      <div class="invalid-feedback">
        Введіть коректну адресу електронної пошти.
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Пароль</label>
      <input type="password" class="form-control" id="password" required>
      <div class="invalid-feedback">
        Введіть пароль.
      </div>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Підтвердження пароля</label>
      <input type="password" class="form-control" id="confirmPassword" required>
      <div class="invalid-feedback">
        Підтвердіть пароль.
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Go!</button>
  </form>
</div>

<script>
  // Bootstrap validation
  (function () {
    'use strict';
    const forms = document.querySelectorAll('.needs-validation');
    Array.from(forms).forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  })();
</script>



{%endblock%}